.paragraph {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
}

.word {
  display: flex;
}

.letter {
  position: relative;
}

.caret {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0.1rem;
  background: yellow;
}

.inputBox {
  margin-top: 16px;
  font-size: 24px;
}
